html[dir="rtl"] {
	top-bar {
		.top-nav {
			.pop-button {
				text-align: right;
				i{
					left: auto;
					right: 15px;
					top: 10px!important;
				}
			}
			toggle-nav {
				text-align: right;
				> div{
					.hamburger-box{
						left: auto;
						right: 20px;
					}
				}
			}

			home-widgets {
				text-align: left;
				margin-top: 20px;
				margin-left: 20px;
				margin-right: 0;
				line-height: 36px;
			}
		}
	}
	.menu-content-push {
		top-bar {
			.top-nav {
				toggle-nav{
					&.black-style {
						.hamburger-inner {
							background-color: #000;
						}
					}
				}
			}
		}
	}
}

.menu-content-push {
	top-bar {
		.top-nav {
			toggle-nav{
				&.black-style {
					.hamburger-inner {
						background-color: #000;
					}
				}
			}
		}
	}
}
top-bar {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;

	z-index: 5;
	-webkit-transform: translateZ(0) translate3d(0px, 0px, 0px);
	.top-nav {
		width: 100%;
		display: flex;
		flex-direction: row;
		padding: 0;
		z-index: 2;
		position: relative;
		height: 70px;
		transition: box-shadow .5s, background-color .5s;
		&.black-style {
			background-color: #fff;
			box-shadow: 0px 3px 5px 0px rgba(126,126,126,.2);
			.logo-small {
				.white {
					opacity: 0;
				}
				.color {
					opacity: 1;
				}
			}
		}
		.logo-small, toggle-nav, .pop-button, weather-home {
			align-content: middle;
		}
		toggle-nav,
		.pop-button {
			text-align: left;
			flex: 1 100%;
		}
		toggle-nav{
			padding: 0;
			> div{
				height: 70px;
				width: 70px;

				.hamburger-box{
					left: 20px;
					top: 20px;
				}
			}
			.hamburger{
				padding: 0;

				.hamburger-inner{
					top: 50%;
					background-color: #fff;
					&:before,
					&:after{
						background-color:#fff;
					}
				}
			}
			&.black-style {
				.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
				    background-color: #000;
				  }		
			}
			.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
				transition: background-color .5s;
				-webkit-transform: rotate(0deg)!important;
				transform: rotate(0deg)!important;
			}
			.hamburger-inner:before{
				top: -9px!important;
			}
			.hamburger-inner:after{
				bottom: -9px!important;
			}
		  
		}
		.pop-button {
			background: transparent;
			font-size: 28px;
			border-radius: 0px;
			color: #fff;
			transition: color .5s;
			&.black-style {
				color: #000;
			}
			&:focus, &.active, &::hover {
				background: transparent;
			}
			i{
				position:relative;
				top: 15px!important;
				left: 15px;
			}
			
		}
		.logo-small {
			text-align: center;
			flex: 1 100%;
			position: absolute;
			left: 50%;
			width: 120px;
			transform: translateX(-60px);

			img{
				transition: opacity .5s;
				margin-top: 18px;
				position:absolute;
				left: 0;
				&.color {
					opacity: 0;
				}
			}
		}
		home-widgets{
			margin-top: 20px;
			margin-right: 20px;
			line-height: 30px;
			color: #fff;


			span.pname{
				font-size: 1.1rem;
			}

			&.black-style{
				color: #000;
			}

			img{
				margin-top: 5px;
			}
		}
	}
}
.near-by top-bar .top-nav,
.activities top-bar .top-nav,
.events top-bar .top-nav,
.restaurants top-bar .top-nav,
.hotels top-bar .top-nav,
.favorite-items top-bar .top-nav{

	toggle-nav{
		.hamburger .hamburger-inner{
			background-color:#646262;
			&:before,
			&:after{
				background-color:#646262;
			}
		}
		&.black-style .hamburger .hamburger-inner{
			background-color:#000;
			&:before,
			&:after{
				background-color:#000;
			}
		}
	}
}
.near-by top-bar .top-nav,
.activities top-bar .top-nav,
.events top-bar .top-nav,
.restaurants top-bar .top-nav,
.hotels top-bar .top-nav,
.favorite-items top-bar .top-nav {
	home-widgets{
		color:#646262;
	
		&.black-style{
			color: #000;
		}
	}
}
@media (max-width: 374px){
	top-bar .top-nav home-widgets{
		margin-right: 15px;
	}
	top-bar .top-nav .logo-small img{
		margin-top: 20px;
	}
	.rtl top-bar .top-nav home-widgets{
		margin-left: 15px;
		line-height: 36px;
	}
}