html[dir='rtl'] {
	.app-intro {
		.skip-intro{
			font-family: $fontBoldArabic;
			line-height: 1;
		}
	}
	.intro-first{
		.start-intro{
			font-family: $fontBoldArabic;
			line-height: 1;
		}
	}
}
.app-intro {
	&.first-time {
		display: block;
	}
	
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	transition: background .5s;
	transition-origin: 20% 40%;

	z-index: 10;
	ion-slides {
		&.no-bg {
			background: transparent;
		}
		// 
		background: url(../../imgs/logo-color.svg) no-repeat center 11%, url(../../imgs/intro/background.jpg) no-repeat center;
		background-size: 80%, 100%;
	}
	.swiper-wrapper {
		z-index: 2;
		.swiper-slide {
			padding: 0 11.5%;
			p { color: #fff; }
		}
		.swiper-slide:nth-child(3) {
			background-position: 0;
			background-size: cover!important;
		}
		.intro-submit {
			@include gradient(rgb(18,172,193), rgb(19,192,215), top);
			color: #fff;
			font-family: $fontBold;
			padding: 24px 35px;
			height: 30px;
			width: auto;
			font-size: 20px;
			margin-top: 10px;
		}
		.dropdown-group {
			position: relative;
			margin-bottom: 10px;
			.dropdown-toggle { 
				text-align: left; 
				background: rgba(0,0,0,.4) !important; 
				width: 100%; 
				border: 1px solid rgba(204, 204, 204, .5); 
				color: #fff; 
				box-shadow: none; 
				border-radius: 7px;
				height: 50px;
		    	.button-inner { 
		    		text-align: left!important; 
		    		display: inline; 
		    		color: rgba(255,255,255, .9);
		    		span {
		    			position: absolute;
						right: 0;
						height: 55px;
						top: 0;
						padding-top: 15px;
						width: 60px;
						text-align: center;
						border-left: 1px solid #ccc;
						font-size: 25px;
		    		}
		    	}
			}
			.dropdown-menu {
				position: absolute;
				background: #fff;
				list-style-type: none;
				width: 95%;
				top: 47.5px;
				left: 8px;
				margin: 0;
				padding: 0;
				max-height: 100px;
				border: 1px solid #ccc;
				overflow: auto;
				z-index: 10;
				input[type="checkbox"] {
					display: none;
				}
				li {
					text-align: left;
					padding: 5px 10px 10px;
					a {
						color: #646262;
						text-decoration: none;
						font-size: 12px;
					}
					&:nth-child(even) {
						background: #f7f7f7;		
					}
					.dropdown-search {
						border: none;
						border-radius: 0;
						olor: #646262;
						font-size: 12px;
						width: 100%;
						height: 24px;
					}
					.dropdown-clear {
						background: transparent;
						padding: 0;
						margin: 0;
						position: absolute;
						top: 0;
						right:10px;
						color: #ccc;
					}
					&.dropdown-selected {
						font-weight: bold;
						background: #ccc;
						color: #fff;
					}
					
				}
				
			}
		}
	}
	.swiper-pagination {
		&.hide {
			display: block!important;
		}
		bottom: 17%;
		z-index: 1;
		& > span {
			background: #13c0d7;
			border-radius: 50%;
			width: 15px;
			height: 15px;
			margin: 0 20px!important;
			transition: opacity .5s;
		}
	}
	.skip-intro {
		color: #13c0d7;
		z-index: 2;
		position: absolute;
		bottom: 8%;
		left: 50%;
		transform: translateX(-50%);
		background: transparent;
		padding: 0;
		margin: 0;
		border-bottom: 1px solid #13c0d7;
		border-radius: 0;
		height: auto;
		padding-bottom: 5px;
		font-family: $fontBold;
		text-transform: uppercase;
	}
}

.intro-first{
	&.hideSelector{
		display: none;
	}
	text-align: center;
	position:absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 1000;
	background: #fff url(../../imgs/intro/background.jpg) no-repeat center;
	background-size: cover;
	color: #fff;
	p{
		text-align: center;
		color: #fff;
	}
	.logo-intro{
		margin-top: 30%;
		img{
			max-width: 70%;
			margin: 0 auto;
		}
	}
	.intro-first-text{
		font-size: 20px;
		font-weight: bold;
		margin: 50px auto 40px;
		max-width: 80%;
	}
	.language-selector{
		text-align: center;
		span, ion-toggle{
			display: inline-block;
		}
		span{
			padding: 0 10px;
			font-size: 18px;
			line-height: 30px;
			vertical-align: top;
			position: relative;
			top:8px;

			&.ar{
				font-family: $fontBoldArabic;
			}
		}
		ion-toggle{
			position:relative;
			top: 5px;
			width: 84px;
			border-radius:20px;
			border: 12px solid rgba(0,0,0,.5);

			.toggle-icon{
				
				background: #3bb4c4;
				height: 12px;
				width: 61px;

				&:before{
					display: none;
				}
			}
		}
		.toggle-inner{
			top: -8px;
			left: -5px;
		}
		.toggle-checked .toggle-inner{
			-webkit-transform: translate3d(42px, 0, 0);
			transform: translate3d(42px, 0, 0);
		}
	}
		
	.start-intro{
		color: #13c0d7;
		z-index: 2;
		position: absolute;
		bottom: 8%;
		left: 50%;
		transform: translateX(-50%);
		background: transparent;
		padding: 0;
		margin: 0;
		border-bottom: 1px solid #13c0d7;
		border-radius: 0;
		height: auto;
		padding-bottom: 5px;
		text-transform: uppercase;
		font-family: $fontBold;
	}
}
html[dir="rtl"]{
	.intro-first{
		font-family: $fontBoldArabic;

		.start-intro{
				font-family: $fontBoldArabic;
		}
		.language-selector{
			direction: ltr;
			span.en{
				font-family: $fontRegular;
			}
		}
		.intro-first-text{
			line-height: 1.6;
		}
	}

	
}

