home-widgets {
  text-align: right;
  flex: 1 100%;
  color:#fff;
  height:30px;
  overflow: hidden;
  margin-top:5px;
  img.pray-grey{
    display: none;
  }
  &.black-style {
    color: #000;
    img.pray {
      display: none;
    }
    img.pray-black {
      display: inline-block;
    }
  }
}
home-widgets img {
  width:20px;
}
home-widgets img.pray, home-widgets img.pray-black {
  width:17px;
}
img.pray-black {
  display: none;
}
home-widgets div div{
    opacity: 0;
    height:0;
    -webkit-transition: opacity .5s ease-in;
       -moz-transition: opacity .5s ease-in;
        -ms-transition: opacity .5s ease-in;
         -o-transition: opacity .5s ease-in;
            transition: opacity .5s ease-in;
}
home-widgets div.show{
   opacity: 1;
}

.near-by,
.activities,
.events,
.restaurants,
.hotels,
.favorite-items{
  home-widgets {
    img.pray{
      display: none;
    }
    img.pray.pray-grey{
      display: inline-block;
      margin-right: 3px;
    }
    &.black-style{
      img.pray.pray-grey{
        display: none;
      }
    }
  }
}

html[dir="rtl"]{
  .near-by,
  .activities,
  .events,
  .restaurants,
  .hotels,
  .favorite-items{
    home-widgets {
      img.pray.pray-grey{
        margin-right: 0;
        margin-left: 3.5px;
      }
    }
  }
}