.camera {
	background-color: transparent !important;
	height: 100%;
	#ionball {
        position: absolute;
        z-index: 7;
        bottom: 30px;
        left: calc(50% - 25px);
        width: 50px;
        height: 50px;
        background: rgba(0,0,0,.5);
        border: 3px solid red;
        border-radius: 50%;
        display: none;
        &.show {
        	display: block;
        }
    }
    .camera-control {
    	position: absolute;
    	top: 0;
    	left: 0;
    	z-index: 5;
    	width: 100%;
    	height: 100%;
		button {
    	display: none;
	    	&.show {
		    	display: block;
		    }
	    }
    }
    
    .camera-image {
    	width: 100%;
    	
    	position: absolute;
    	top: 0;
    	left: 0;
    	z-index: 2;
    	.viewImage {
    		position: relative;
    		z-index:1;
    	}
    	.croppedImage {
			position:absolute;
			top: 0;
			left: 0;
			z-index: 2;
			width: 750px;
    	}

    }
}


$fontDefault: 'Albert_Regular';
$fontDefaultBold: 'Albert_Bold';
$whiteColor: #fff;
$blackColor: #000;
$blueColor: #071689;
$startColor: #11a0b4;
$endColor: #13c0d7;

.camera-wrapper{
  text-align:center;
  font-family: $fontDefault;
  font-size: 15px;
  position:relative;
  height: 100%;
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    background-color: #000;
  }

  .camera-header{
    position:relative;
    background: $whiteColor;
    padding: 10px 15px;
    text-align:center;
    color: #646262;

    .lnr{
      position:absolute;
      left: 15px;
      top: 10px;
      font-size: 24px;
    }
  }
  .photo-frame{
    background:transparent;
    
    width: 100%;
    position: absolute;
   top: 70px;

    .selected-frame {
      position: absolute;
      top: 0px;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 5;
    }
    .camera-controls{
      font-size: 20px;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 10;
      color: $whiteColor;
    }
     .camera-image {
      &.loadingShow {
        &:after {
          opacity: 0;
        }
      }
      &:after {
        content: attr(data-loading);
        font-size: 12px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        z-index: 1;
      }
      width: 100%;
      // max-height: 375px;
      position: absolute;
      top: 0px;
      left: 0;
      z-index: 2;
      overflow: hidden;
      .viewImage {
        position: relative;
        z-index:2;
        opacity: 0;
      }
      .cropper-container {
        z-index: 2;
      }
      .croppedImage {
      position:absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      }

    }
  }
  .frame-wrapper{
    overflow-x: auto;
    position: absolute;
    bottom: 0px;
    width: 100%;
    background-color: #fff;
    height: 223px;
    padding-top: 23px;
    .frames{
      padding: 15px 5px 5px;
      overflow:hidden;

      height: 105px;
      scroll-content {
        overflow-y: hidden;
        .scroll-zoom-wrapper {
            width: 1210px;
        }
      }
    }
    .frame-th{
      float: left;
      margin: 0 5px;
      width: 100px;
      height: 100px;
      background: -webkit-linear-gradient(top,  rgba(254,255,255,1) 0%,rgba(210,235,249,1) 100%);
      background: linear-gradient(to bottom,  rgba(254,255,255,1) 0%,rgba(210,235,249,1) 100%);
      -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
      -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
      box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
      &.selected {
        border: 2px solid #f4f4f4;
      }
      img{
        max-width: 100%;
      }
    }
  }
  .btn-photo{
    width: 60px;
    height: 60px;
    border: 7px solid #ccc;
    border-radius: 50%;
    margin: 0 auto;
    position: absolute;
bottom:18px;
left: 50%;
transform: translateX(-50%);
  }
  .btn-share {
    &.active {
      background-color: #f4f4f4;
    }
    padding: 5px;
    border-radius: 50%;

    position: absolute;
    bottom: 30px;
right: 30px;
font-size: 25px;
  }
  .btn-camera {
    position: absolute;
  bottom: 30px;
left: 30px;
font-size: 25px;
  }
  .btn-done{
    width: 120px;
    line-height: 20px;
    margin: 18px auto;
    font-size: 17px;
    text-transform: uppercase;
    font-family: $fontDefaultBold;
    color: #fff;
    padding: 7px 10px;
    border: 0;
    border-radius: 6px;
    background: -webkit-linear-gradient(top,  rgba(18,172,193,1) 0%,rgba(19,192,215,1) 100%);
    background: linear-gradient(to bottom,   rgba(18,172,193,1) 0%,rgba(19,192,215,1) 100%);
    -webkit-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.25);
    box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.25);

    &.btn-retake{
      margin-right: 10px;
    }
  }

  .filter-overlay{
    background: rgba(0,0,0,.8);
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    font-family: $fontDefault;
    z-index: 10;
  }
  .filter-popup{
    background: rgba(0,0,0,.8);
    color: $whiteColor;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    width: calc(100% - 40px);
    font-size: 14px;
  }
  .popup-header{
    text-transform: uppercase;
    color: $whiteColor;
    text-align: center;
    height: 60px;
    line-height: 60px;
    position:relative;
    font-size: 16px;

    .lnr-cross{
      position:absolute;
      left: 25px;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      font-size: 20px;
    }
  }
  .popup-header .popup-close{
    position:absolute;
    left: 25px;
    top: 50%;
    margin-top: -7px;
    width: 14px;
    height: 14px;
    background: url(../imgs/filter-popover/icon-close.png) center center/100% auto no-repeat;
  }
  .popup-content{
    padding: 0 25px 18px;
  }
  .popup-list{
    position:relative;
    border-top: 1px solid rgba(255,255,255,.2);
    padding: 13px 10px 13px 50px;
    height: 55px;
    line-height: 25px;
    text-align: left;

    span{
      position: absolute;
      left: 10px;
      top: 50%;
      margin-top: -2px;
      transform: translateY(-50%);
      font-size: 20px;
    }
  }
}

@media (max-width:374px){
  .camera-wrapper {
    .frame-wrapper {
      height: 165px;

      .frames{
        scroll-content {
          .scroll-zoom-wrapper{
            width: 1000px;
          }
        }
      }
      .frame-th{
        width: 70px;
        height: 70px;
      }
      .frames{
        height: 95px;
      }
    }
    .photo-frame{
      height: 320px;
      .camera-image{
        max-height: 320px;
        .croppedImage{
          width: 100%;
        }
        .cropper-container.cropper-bg{
          width: 100%!important;
          height: 320px!important;
        }
        &.loadingShow{
          height: 0px;
        }
      }
    }
    .btn-done{
      margin: 0;
      height: 2.2em;
    }
  }
}