.platform-android{
	.button{
		box-shadow: none;
	}
	.intro-first .language-selector .toggle-inner{
		top: -5px;
	}
	ajman-nav .nav-menu ion-toolbar{
		min-height: 172px;
	}
	.toggle-icon{
		width: 46px;
	}
	.settings .btn-settings .button-inner ion-icon {
	    font-size: 30px;
	    margin-right: 3px;
	    margin-top: -3px;
	    margin-left: -6px;
	}
	.home .primary-buttons > div > div span{
		font-size: 16px;
	}
	.home .primary-buttons > div > div{
		padding: 7px 10px;
		line-height: 1.1;
	}
}