html[dir="rtl"] {
    .image-slider-container {
        .slider-controls {
            button {
               &.prev{
                    right: auto;
                    left: 5px;
                    transform: translateY(-50%) rotate(180deg);
                }
                &.next{
                    left: auto;
                    right: 5px;
                    transform: translateY(-50%) rotate(180deg);
                } 
            }
        }
    }
}

.image-slider-container {
    background: rgba(0, 0, 0, .9);
    position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	display: block;
	overflow: hidden;
	width: 100%;
	height: 100%;
    .modal-close {
        color: #fff;
        font-size: 28px;
        position: absolute;
        top: 20px;
        right: 20px;
        display: block;
        line-height: 25px;
        width: 25px;
        height: 25px;
        z-index: 2;
    }
    .slider-elm {
    	position: relative;
    	z-index: 1;
    }
    .image-slide img {
        min-height: 0px;
    }

    .slider-controls {

        button{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            
            font-size: 30px;
            background: none;
            border: 0;
            color: #fff;
            padding: 0;
            pointer-events: all;
            width: 50px;
            z-index: 77;
            &.prev{
                right: 5px;
            }
            &.next{
                left: 5px;
            }
        }
    }
    .slider-numbers{
        position:absolute;
        left: 0;
        right: 0;
        top: 20px;
        color: #fff;
        text-align: center;
        direction: ltr!important;
    }
}