<ion-content  class="home" tappable overflow-scroll="false" [ngStyle]="{'background-image': 'url(./home_videos/' + videoNumber +'.png)'}">
<intro *ngIf="showIntro"></intro>
<div class="home-video">
	<video #videoBg src="./home_videos/{{videoNumber}}.mp4" muted="true" preload="auto" loop preload webkit-playsinline playsinline></video>
</div>
	<top-bar></top-bar>
	<div class="primary-buttons">

		<div *ngFor="let page of shortcuts" class="{{page.class}}" tappable (tap)="goToPage(page)">
			<div>
				<img src="./imgs/icons/{{page.icon}}.svg" alt="">
				<span [innerHTML]="page.title | translate"></span>	
			</div>
		</div>
	</div>
	<div class="footer-buttons">

		<div *ngFor="let page of links" tappable (click)="footerLink(page)">
			
			<span class="lnr lnr-{{page.icon}}"></span>
			<span [innerHTML]="page.title | translate"></span>
		</div>
	</div>
</ion-content>
