
html[dir="rtl"] {
  [class*="icon-fav-"]{
    float: right;
    margin-right: 0;
    margin-left: 10px;
  }
  .popup-header {
    text-align: right;
    .popup-close {
      right: auto;
      left: 15px;
    }
    .popup-save{
      right: auto;
      left: 15px;
    }
  }
  .popup-list {
    input {
      &  + label{
        padding-left: 0;
        padding-right: 20px;
        &:before {
          right: auto;
          left: 10px;
        }
      } 
    }
    label .rating{
      margin-left: auto;
      margin-right: 10px;
    }
  }
}
.filter-overlay{
  background: rgba(0,0,0,.7);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  font-family: $fontDefault;
}
.filter-popup{
  background: rgba(0,0,0,.8);
  color: $whiteColor;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  width: calc(100% - 40px);
  font-size: 14px;
}
.popup-header{
  text-transform: uppercase;
  color: $whiteColor;
  text-align: left;
  height: 60px;
  line-height: 60px;
  position:relative;
  padding: 0 25px 0 30px;
}
.popup-header.long-title{
  padding-left: 55px;
  line-height: 1.4;
  text-align: left;
  padding-top: 10px;
}
.popup-header .popup-close{
  right: 25px;
}
.popup-header .popup-save{
  right: 15px;
  ion-icon.ion-ios-checkmark{
    line-height: 30px;
  }
}
.popup-header .popup-save,
.popup-header .popup-close{
  position:absolute;
  top: 50%;
  margin-top: -12px;
  width: 50px;
  
  text-align: center;
  height: 30px;
  font-size: 13px;
  line-height: 27px;
  color: #13c0d7;
}

.popup-header .popup-close:after {
  position: absolute;
  bottom: 7px;
  height: 1px;
  left: 7px;
  right: 7px;
  content: '';
  background: #13c0d7;
}
.popup-header .popup-save{
  font-size: 32px!important;
}
.popup-content{
  padding: 0 25px 18px;
}
.popup-list{
  position:relative;
  border-top: 1px solid rgba(255,255,255,.1);

  color: rgba(255,255,255,.6);

  label{
    display: inline-block;
    min-width: 100%;
    height: 50px;
    padding-left: 10px;
    padding-top: 16px;
    line-height: 18px;
    position: relative;
    z-index: 1;

    .rating{
      margin-left: 10px;
    }
  }
  input{
    opacity: 0;
  }
  input {
    position:absolute;
    right: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 2;
  }
  input + label:before{
    position:absolute;
    right: 10px;
    top: 10px;
    width: 30px;
    height: 30px;
  }
  input + label:before{
    display: block;
    content: '';
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased; 
    background-image: linear-gradient(#000, #171717);
    border: 1px solid #3a3a3a;
    border-radius: 2px;
    padding: 8px 8px;
    box-sizing: border-box;

  }
  input:checked + label:before{
    content:'\f00c';
  }
  [class*="icon-fav-"]{
    width: 21px;
    height: 21px;
    display: inline-block;
    background: url(../../imgs/filter-popover/icon-filter-favorite.png) center top/21px auto no-repeat;
    float: left;
    position: relative;
    margin-right: 10px;
  }
  .icon-fav-accomodation{
    background-position: center top;
    top: 3px;
  }
  .icon-fav-todo{
    background-position: center -22px;
    top: -1px;
  }
  .icon-fav-dining{
    background-position: center -48px;
    top: -1px;
  }
  .icon-fav-places{
    background-position: center -75px;
    top: -1px;
  }
  .icon-fav-events{
    background-position: center bottom;
    top: -5px;
  }
}
@media (max-width:374px){
  .popup-header{
    font-size: 12px;
  }
  .popup-header .popup-close{
    left: 10px;
  }
  .popup-header .popup-save{
    right: 10px;
  }
  .popup-content{
    padding: 0 10px 18px;
  }
  .popup-list label{
    height: 44px;
    line-height: 25px;
    padding-top: 8px;
  }
  .popup-list input + label:before{
    height: 22px;
    width: 22px;
    padding: 4px 4px;
  }
  html[dir="rtl"] {
    .popup-header .popup-close {
      right: 10px;
    }
    .popup-header .popup-save {
      left: 10px;
    }
    .popup-header{
      padding-right:15px;
    }
  }
}