<div class="card-list-container">
  <top-bar [blackStyle]="scrollBar"></top-bar>
  <card-list [showMap]="true"  [filters]="true" [filterFields]="filterFields"  [elmID]="'attraction'" [filterValues]="filterValues" [alias]="'destination'" *ngIf="items" [sortBy]="'sortOrder'" (scrollBar)="scrolled($event)" [title]="'NEARBY ATTRACTIONS'" (dismissLoading)="dismissLoading($event)"></card-list>
</div>