.destinations {
	&.top {
		background: url(../../imgs/travel/support_bg.jpg) no-repeat top center/cover!important;	
	}
	&:after {
		content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom:0;
      top: 0;
      background: rgba(0,0,0,.4);
	}
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	position: relative;
	.content-wrapper {
		position: absolute;
		margin-top: 70px;
		height: calc(100% - 70px);
		width:100%;
		pointer-events: none;
	}
	.content-header {
			width: 100%;
			padding: 35% 20px;
			text-align: center;
			color: #fff;
			display: flex;
			align-items: center;
			flex-direction: column;
			img {
				max-height: 99px;
				max-width: 99px;

			}
			h2 {
				font-weight: bold;
			}
			img, p, h2 {
				display: flex;
				width: 100%;
				justify-content: center;
				margin: 5px 0;
				color: #fff;
			}
			div {
				margin-top: 20px;
				span {
					background: rgba(0, 0, 0, 0.6);
					border-radius: 50%;
					width: 50px;
					height: 50px;
					font-size: 24px;
					display: inline-block;
					padding: 13px;
					margin: 0 15px;
				}
				
			}
		}

}
