<div class="card-list-container">
  <top-bar [blackStyle]="scrollBar"></top-bar>
  <card-list [showMap]="true" [filters]="true"  [elmID]="'hotel'" [filterValues]="filterValues" [filterFields]="filterFields" [alias]="'hotel'" [title]="'Find Accommodation'" [sortBy]="sort" (scrollBar)="scrolled($event)" (dismissLoading)="dismissLoading($event)"></card-list>
</div>

